[submodule "wishlist-service"]
	path = wishlist-service
	url = https://github.com/Autowires/wishlist-service.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Autowires/api-gateway.git
[submodule "microservice-app"]
	path = microservice-app
	url = https://github.com/Autowires/microservice-app.git
[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/Autowires/eureka-server.git
[submodule "review-service"]
	path = review-service
	url = https://github.com/Autowires/review-service.git
